.sign-in{
    width: 30vw;
    min-width: 380px;

    .title{
        margin: 10px 0;
        font-size: clamp(25px, 5vw, 40px);
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }
}